body {
  background-color: DarkSlateGray;
}
h1 {
  color: purple;
  text-align: center;
  font-family: Impact, sans-serif;
}
h2 {
  color:crimson;
  text-align: left;
  font-family: Impact, sans-serif;
}
p {
  color: BlanchedAlmond;
  text-align: left;
  border: 2px solid coral;
  padding: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}