body {
  background-color: whitesmoke;
  color: black
}
.dark-mode {
  background-color: black;
  color: whitesmoke;
}
h1 {
  text-align: center;
  font-family: Impact, sans-serif;
}
h2 {
  text-align: left;
  font-family: Impact, sans-serif;
}
p {
  text-align: left;
  border: 2px solid #ef8f8f;
  padding: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}